p {
  font-family: Arial;
  color: grey;
}

h1 {
    font-family: Helvetica;
    color: black;
}

h2 {
    font-family: Arial;
    color: dodgerblue;
}

h4 {
    font-family: Helvetica;
    color: black;
}